<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="UseDevelopmentStorage=true" />
    <add key="DeviceTable" value="DeviceTable" />
    <add key="UserTable" value="UserTable" />
    <add key="MediaTable" value="MediaTable" />
    <add key="QueryHistory" value="QueryHistory" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="ServiceBinding" 
                 transferMode="Streamed"
                 maxReceivedMessageSize="2147483647" receiveTimeout="00:5:00" maxBufferPoolSize="2147483647" />
      </webHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/MediaRepository/Service.svc/UserManager"
                binding="webHttpBinding" 
                bindingConfiguration="ServiceBinding" 
                contract="MediaRepositoryWebRole.Contracts.IUserManager" />
      <endpoint address="http://localhost/MediaRepository/Service.svc/MediaRepositoryService" 
                binding="webHttpBinding" 
                bindingConfiguration="ServiceBinding" 
                contract="MediaRepositoryWebRole.Contracts.IMediaRepositoryService" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Diagnostics" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.0.0" newVersion="1.8.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>